@import "tailwindcss";

* {
  box-sizing: "border-box";
}


.slick-slide {
  margin-right: 20px; /* Adjust this value to control the gap between items */
}


.slick-dots {
  bottom: 10px;
  display: flex;
  justify-content: center;
  padding: 0;

}

.slick-dots li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.custom-dot {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  transition: all 0.3s ease-in-out;
 
}

.slick-dots li.slick-active .custom-dot {
  background-color: #fd7904;

}
